<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meetus"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vue.MainVue"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="vue.createActivites.CreateParty"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="vue.InfoPary"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="vue.createActivites.ChoixActivites"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="vue.rechercheActivite.Homepage1_0"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.rechercheActivite.Homepage1_1_1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.rechercheActivite.Homepage1_1_2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.rechercheActivite.SelectDay"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.rechercheActivite.FragmentsSliderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.createUser.SelectSex"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.createUser.CreateUser"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.Agenda"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Test"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="vue.profil.Home_profil"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
